<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alpha Art-Dent USERS</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery -->
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>




    <!--    SRC-->

    <link rel="stylesheet" href="css/popup.css"/>

    <script src="js/popup.js/"></script>



</head>
<body>
<tbody>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>


    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Test</td>
        <td >TEST</td>
        <td>
            <button type="button" id="myBtn" class="btn btn-warning" onclick="openItemsList()">ADD</button>
            <button type="button" class="btn btn-success">VIEW</button>
        </td>
    </tr>
</table>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form name="modalName">
            <legend>LUCRARI</legend>
            <div th:each="product : ${products}">
            <div class="form-group productClass">
                <label th:text="${product.name}" ></label>
                <label>(</label>
                <label id="productPrice" class="priceClass" th:text="${product.price}"></label>
                <label >RON )</label>
                <label>
                    <input oninput="calc()" id="userInput" type="number" class="form-control prc quantityClass">
                </label>
            </div>
            </div>
            <div class="form-group">
                <label>TOTAL:</label>
                <output id="result"></output>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">SAVE</button>
        </form>
    </div>
</div>


<script>
    function calc() {

        var forms = document.getElementsByClassName("productClass");

        var total = 0;
        for (var i = 0; i < forms.length; i++) {


            const price = document.getElementsByClassName("priceClass")[i].innerHTML;

            const numberUser = document.getElementsByClassName("quantityClass")[i].value;

            total += price * numberUser;

        }



        if (!isNaN(total))
            document.getElementById("result").innerHTML = total;
    }




</script>


</body>
</html>